.navigation-panel {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #EAF6F9;
}

.navigation-panel button {
    background-color: #ff7f50; /* Coral color */
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
}